<div id="question"><%= params[:question] %>
<p>-<em>You</em>
</div>

<div id="answer">
<%= @answer %>
<p>-<em>Your coach</em>
</div>

<p><div id="ask"><%= link_to "Ask a new question", ask_path %></div>
